body {
    background: #002e37;
  }

div {
    font-size: 80px;
    color: rgb(172, 163, 129);
}

input {
    border-color: black;
    color: white;
    background-color: rgb(0, 0, 0);
}

span {
    font-size: 20px;
    color: rgb(230, 223, 200);
}



